## Imports

In [1]:
import pandas as pd
import numpy as np

## Reading in Data

In [2]:
faults = pd.read_csv('../data/J1939Faults.csv', 
                     low_memory=False, 
                     parse_dates=[2, 19],
                     infer_datetime_format=True)

In [3]:
faults.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1187335 entries, 0 to 1187334
Data columns (total 20 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   RecordID               1187335 non-null  int64
 1   ESS_Id                 1187335 non-null  int64
 2   EventTimeStamp         1187335 non-null  datetime64[ns]
 3   eventDescription       1126490 non-null  object
 4   actionDescription      0 non-null        float64
 5   ecuSoftwareVersion     891285 non-null   object
 6   ecuSerialNumber        844318 non-null   object
 7   ecuModel               1122577 non-null  object
 8   ecuMake                1122577 non-null  object
 9   ecuSource              1187335 non-null  int64
 10  spn                    1187335 non-null  int64
 11  fmi                    1187335 non-null  int64
 12  active                 1187335 non-null  bool
 13  activeTransitionCount  1187335 non-null  int64
 14  faultValue             0 non-null        float64
 15  EquipmentID            1187335 non-null  object
 16  MCTNumber              1187335 non-null  int64
 17  Latitude               1187335 non-null  float64
 18  Longitude              1187335 non-null  float64
 19  LocationTimeStamp      1187335 non-null  datetime64[ns]
dtypes: bool(1), datetime64[ns](2), float64(4), int64(7), object(6)
memory usage: 173.2+ MB

## Changing data types

In [4]:
#dropping columns with all null values

faults = faults.drop(columns=['actionDescription', 'faultValue'])

In [5]:
# changing certain column to strings

#str_columns = ['ESS_Id',  
               #'spn', 
               #'fmi', 
               #'EquipmentID', 
               #'MCTNumber'
              #]

#for column in str_columns:
    #faults[column] = faults[column].astype(str)

## Reviewing columns values

In [6]:
faults.RecordID.value_counts()

2047      1
983222    1
620665    1
616571    1
610428    1
         ..
653204    1
655253    1
649110    1
651159    1
2049      1
Name: RecordID, Length: 1187335, dtype: int64

In [7]:
faults.ESS_Id.value_counts().head(200)

1001059      8
1000422      8
1000318      8
1000086      8
1000978      8
            ..
6956559      2
69304349     2
109204155    2
6960261      2
109165718    2
Name: ESS_Id, Length: 200, dtype: int64

In [8]:
faults[faults['ESS_Id'] == '1000939']

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

Empty DataFrame
Columns: [RecordID, ESS_Id, EventTimeStamp, eventDescription, ecuSoftwareVersion, ecuSerialNumber, ecuModel, ecuMake, ecuSource, spn, fmi, active, activeTransitionCount, EquipmentID, MCTNumber, Latitude, Longitude, LocationTimeStamp]
Index: []

In [9]:
faults[faults['ESS_Id'] == '1000603']

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

Empty DataFrame
Columns: [RecordID, ESS_Id, EventTimeStamp, eventDescription, ecuSoftwareVersion, ecuSerialNumber, ecuModel, ecuMake, ecuSource, spn, fmi, active, activeTransitionCount, EquipmentID, MCTNumber, Latitude, Longitude, LocationTimeStamp]
Index: []

In [10]:
faults.eventDescription.value_counts().head(35)

Low (Severity Low) Engine Coolant Level                                                      320244
Abnormal Update Rate Tire Location                                                           256541
High Voltage (Fuel Level)                                                                     82818
High Voltage (Left Fuel Level Sensor)                                                         81754
Low (Severity Medium) Engine Coolant Level                                                    38866
Incorrect Data J1939 Network #1 Primary Vehicle Network ( previously SAE J1939 Data Link)     37086
Condition Exists Cruise Control Enable Switch                                                 22570
High (Severity Low) Water In Fuel Indicator                                                   17681
Condition Exists Engine Protection Torque Derate                                              10927
High Voltage (Water In Fuel Indicator)                                                         8628
Incorrect Data Brake Signal Sensor 2                                                           7994
Not Reporting Data Front Operator Wiper Switch                                                 6984
Low Voltage (Left Fuel Level Sensor)                                                           6033
Low Voltage (Fuel Level)                                                                       5890
Low (Severity High) Wheel Sensor ABS Axle 1 Left                                               5209
Low (Severity Low) Catalyst Tank Level                                                         4733
High Voltage (Engine Coolant Level)                                                            4587
Low (Severity Medium) Transmission Air Tank Pressure                                           4213
Abnormal Update Rate Headway Controller Forward Antenna                                        4190
Special Instructions System Diagnostic Code #1                                                 4026
Incorrect Data Axle Load Sensor                                                                3952
Low Voltage (Relay Diagonal 1)                                                                 3863
Incorrect Data Brake Signal Sensor 1                                                           3860
Low Voltage (Power Supply (obsolete))                                                          3718
Low Current Dif 2 - ASR Valve                                                                  3687
Abnormal Frequency J1939 Network #2                                                            3451
Incorrect Data Ambient Air Temperature                                                         3268
High (Severity High) Engine Exhaust Gas Recirculation Temperature                              3191
Not Reporting Data Brake Signal Sensor 1                                                       2973
Low (Severity High) Wheel Sensor ABS Axle 1 Right                                              2972
Not Reporting Data Engine Throttle Actuator 1 Control Command                                  2875
Abnormal Update Rate Engine Variable Geometry Turbocharger Actuator #1                         2813
Low Voltage (Accelerator Pedal Position 1)                                                     2747
Incorrect Data Wheel Sensor ABS Axle 2 Left                                                    2728
Data Drifted High Aftertreatment 1 Outlet NOx                                                  2564
Name: eventDescription, dtype: int64

In [11]:
faults.ecuSoftwareVersion.value_counts()

unknown                                                                                                        298549
BB41103*   BB41104*                                                                                             45381
P30-1011-124*1*                                                                                                 22068
PC4__1284P4C_2*                                                                                                 15082
AAAI000031*AAAM000036*BB41259   *A82J140612A_9203usadv   *AAAC000032*BB41276     *A8XL140606B_Bendix      *     11939
                                                                                                                ...
????7106*04029075*092613211021*09300006*G1*BDR*                                                                     1
NDWS*EC80ESP *5N35150963**259   *A82J140612A_9203usadv   *AAAC000032*BB41276     *A8XL140606B_Bendix      *         1
????0170*03015995*121316112755*09401371*G1*BDR*                                                                     1
????7106*04129158*051914190353*09400015*G1*BDR*                                                                     1
????0170*03052693*061416163421*09401361*G1*BDR*                                                                     1
Name: ecuSoftwareVersion, Length: 1898, dtype: int64

In [12]:
faults.ecuSerialNumber.value_counts()

unknown     298549
6U13D13      11207
79845785     10302
79856768      8158
79845329      7199
             ...
Z0036833         1
80199597         1
80239683         1
79979992         1
80205220         1
Name: ecuSerialNumber, Length: 1989, dtype: int64

In [13]:
faults.ecuModel.value_counts()

unknown                 298549
CECU3B-NAMUX4           277919
6X1u10D1500000000       216230
6X1u13D1500000000       203685
EC60-adv                 48816
EC80ESP                  22202
MX                       16362
6X1u17D1500000000        14499
EEO-xxF112C               8131
0USA13_13_0415_2238A      7252
FAOM-xx810S-EC3           4464
MX16U13D13                3629
MX16U15D13                 391
CE                         297
EC80ESP+                    42
6L u13D0890000000           28
Gen 4 Boot Loader           21
CECU3-NAMUX3                20
EC80ESP AM000036             7
6X1u20D1500000000            6
Y049568                      5
6U13D13                      4
Y044053                      4
E0031                        4
20412511P07                  4
________Y043718              2
EC80ESP AM000038             2
0USA10_13_0405_2237A         1
202.35.0                     1
Name: ecuModel, dtype: int64

In [14]:
faults.ecuMake.value_counts()

CMMNS              433403
unknown            298549
PACCR              277021
BNDWS               71001
PCAR                20229
EATON               12612
VOLVO                7252
?????                 755
????S                 627
????R                 589
?MMNS                 289
?CAR                  152
?ACCR                  39
???CR                  20
?NDWS                  15
?????MX16U13D13         9
?????MX                 6
?ATON                   3
??MNS                   3
???R                    1
5516014                 1
??DWS                   1
Name: ecuMake, dtype: int64

In [15]:
faults.ecuSource.value_counts()

0     528044
49    514059
11    131122
3      13484
61       626
Name: ecuSource, dtype: int64

In [16]:
faults.spn.value_counts()

111      365489
929      256541
96        90041
829       87788
639       41062
          ...
6327          1
677           1
56503         1
37265         1
65287         1
Name: spn, Length: 450, dtype: int64

In [17]:
faults.fmi.value_counts()

17    326553
9     288893
3     188631
2      82334
18     53602
31     39881
4      39734
0      27577
7      23249
1      20887
15     20739
14     12699
12     12233
5       9683
16      9242
10      7437
8       5741
19      5733
20      4440
11      3847
13      2634
6       1027
23       396
21       131
29         8
22         4
Name: fmi, dtype: int64

In [18]:
faults.active.value_counts()

True     608454
False    578881
Name: active, dtype: int64

In [19]:
faults.activeTransitionCount.value_counts()

126    581874
1      305476
127    102512
2       45075
3       13019
        ...
120       371
123       363
124       362
107       361
118       338
Name: activeTransitionCount, Length: 128, dtype: int64

In [20]:
faults.EquipmentID.value_counts()

1641         17492
1605         16393
1646         15462
1618         14986
1606         14973
             ...
105322231        1
105427271        1
105340140        1
105355660        1
105349493        1
Name: EquipmentID, Length: 1122, dtype: int64

In [21]:
faults.MCTNumber.value_counts()

105415080    16503
105420184    15507
105381514    15330
105415457    15119
105416377    15034
             ...
105329945        2
108608400        2
108605642        2
108609466        1
108616776        1
Name: MCTNumber, Length: 768, dtype: int64

#### Definitely some null values we'll need to fix (some are listed as 'nan' and others as 'unknown'). A lot of these columns are pretty messy and they don't necessarily appear to contain information that will prove to be valuable. We may not clean all as they may be dropped when considering feature selections.

## Faults Cleaning

In [22]:
faults['ecuSoftwareVersion'] = faults['ecuSoftwareVersion'].replace('unknown', np.nan)

In [23]:
faults['ecuSerialNumber'] = faults['ecuSerialNumber'].replace('unknown', np.nan)

In [24]:
faults['ecuModel'] = faults['ecuModel'].replace('unknown', np.nan)

In [25]:
faults['ecuMake'] = faults['ecuMake'].replace('unknown', np.nan)
faults['ecuMake'] = faults['ecuMake'].replace('?????', np.nan)
faults['ecuMake'] = faults['ecuMake'].replace('????R', 'PACCR')
faults['ecuMake'] = faults['ecuMake'].replace('?MMNS', 'CMMNS')
faults['ecuMake'] = faults['ecuMake'].replace('?CAR', 'PCAR')
faults['ecuMake'] = faults['ecuMake'].replace('?ACCR', 'PACCR')
faults['ecuMake'] = faults['ecuMake'].replace('???CR', 'PACCR')
faults['ecuMake'] = faults['ecuMake'].replace('?NDWS', 'BNDWS')
faults['ecuMake'] = faults['ecuMake'].replace('?????MX16U13D13', 'MX')
faults['ecuMake'] = faults['ecuMake'].replace('?????MX', 'MX')
faults['ecuMake'] = faults['ecuMake'].replace('?ATON', 'EATON')
faults['ecuMake'] = faults['ecuMake'].replace('??MNS', 'CMMNS')
faults['ecuMake'] = faults['ecuMake'].replace('???R', 'PCAR')
faults['ecuMake'] = faults['ecuMake'].replace('??DWS', 'BNDWS')

In [26]:
faults['ecuMake'].value_counts()

CMMNS      433695
PACCR      277669
BNDWS       71017
PCAR        20382
EATON       12615
VOLVO        7252
????S         627
MX             15
5516014         1
Name: ecuMake, dtype: int64

## Diagnostic Data

In [27]:
diagnostic = pd.read_csv('../data/VehicleDiagnosticOnboardData.csv')

In [28]:
diagnostic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12821626 entries, 0 to 12821625
Data columns (total 4 columns):
 #   Column   Dtype
---  ------   -----
 0   Id       int64
 1   Name     object
 2   Value    object
 3   FaultId  int64
dtypes: int64(2), object(2)
memory usage: 391.3+ MB

In [29]:
diagnostic.head()

   Id                  Name     Value  FaultId
0   1             IgnStatus     False        1
1   2     EngineOilPressure         0        1
2   3  EngineOilTemperature  96.74375        1
3   4    TurboBoostPressure         0        1
4   5            EngineLoad        11        1

#### This is in long format and we'll want to pivot it to wide format. The 'FaultId' column in the Diagnostics dataframe will be used to join to the Fault dataframe where 'FaultId' = 'RecordId'

In [30]:
diagnostic = diagnostic.pivot(index='FaultId', columns='Name', values='Value').reset_index()

In [31]:
diagnostic.head()

Name,FaultId,AcceleratorPedal,BarometricPressure,CruiseControlActive,CruiseControlSetSpeed,DistanceLtd,EngineCoolantTemperature,EngineLoad,EngineOilPressure,EngineOilTemperature,...,FuelTemperature,IgnStatus,IntakeManifoldTemperature,LampStatus,ParkingBrake,ServiceDistance,Speed,SwitchedBatteryVoltage,Throttle,TurboBoostPressure
0,1,0,14.21,False,66.48672,423178.7,100.4,11,0,96.74375,...,NaN,False,78.8,1023,True,NaN,0,3276.75,NaN,0
1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,True,NaN,1279,NaN,NaN,NaN,NaN,NaN,NaN
2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1279,NaN,NaN,NaN,NaN,NaN,NaN
3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,True,NaN,1279,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,16639,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
diagnostic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1187335 entries, 0 to 1187334
Data columns (total 25 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   FaultId                    1187335 non-null  int64
 1   AcceleratorPedal           531889 non-null   object
 2   BarometricPressure         585976 non-null   object
 3   CruiseControlActive        574916 non-null   object
 4   CruiseControlSetSpeed      576458 non-null   object
 5   DistanceLtd                585819 non-null   object
 6   EngineCoolantTemperature   586071 non-null   object
 7   EngineLoad                 585621 non-null   object
 8   EngineOilPressure          586244 non-null   object
 9   EngineOilTemperature       583912 non-null   object
 10  EngineRpm                  586921 non-null   object
 11  EngineTimeLtd              581366 non-null   object
 12  FuelLevel                  502795 non-null   object
 13  FuelLtd                    585195 non-null   object
 14  FuelRate                   585237 non-null   object
 15  FuelTemperature            299110 non-null   object
 16  IgnStatus                  608454 non-null   object
 17  IntakeManifoldTemperature  586291 non-null   object
 18  LampStatus                 1187335 non-null  object
 19  ParkingBrake               399972 non-null   object
 20  ServiceDistance            215 non-null      object
 21  Speed                      583916 non-null   object
 22  SwitchedBatteryVoltage     114059 non-null   object
 23  Throttle                   420503 non-null   object
 24  TurboBoostPressure         583351 non-null   object
dtypes: int64(1), object(24)
memory usage: 226.5+ MB

## Changing Data Types

In [33]:
diagnostic['AcceleratorPedal'].value_counts(ascending=True).head(10)

4,8        1
51,2       1
14,4       1
16,8       1
99,2       1
4,4        1
20,4       1
99,6       1
2,8        1
101.6    122
Name: AcceleratorPedal, dtype: int64

In [34]:
diagnostic[diagnostic['AcceleratorPedal'].str.contains(',', na=False)]

Name,FaultId,AcceleratorPedal,BarometricPressure,CruiseControlActive,CruiseControlSetSpeed,DistanceLtd,EngineCoolantTemperature,EngineLoad,EngineOilPressure,EngineOilTemperature,...,FuelTemperature,IgnStatus,IntakeManifoldTemperature,LampStatus,ParkingBrake,ServiceDistance,Speed,SwitchedBatteryVoltage,Throttle,TurboBoostPressure
85617,88003,"4,8","14,355",False,0,"136467,8",185,0,"80,62","189,6687",...,"116,6",True,131,17407,False,NaN,"28,92774","3276,75","6,8","17,98"
98748,101134,"51,2","14,2825",False,0,"140927,4","183,2",55,"66,7","187,3062",...,"100,4",True,"132,8",17407,False,NaN,"28,06365","3276,75","43,2","12,47"
106027,108413,"99,2","14,21",False,0,"141239,4","183,2",100,"67,86","210,5375",...,"111,2",True,"136,4",1279,False,NaN,"14,93718","3276,75","98,8","15,66"
118105,120491,"99,6","14,2825",False,0,"143921,8","186,8",99,"67,86","189,275",...,113,True,"132,8",17407,False,NaN,"20,28194","3276,75","99,6","30,45"
130411,132797,"16,8","14,355",False,0,146218,"188,6",12,"71,92","189,6687",...,104,True,131,17407,False,NaN,"11,08759","3276,75","16,8","2,03"
282142,286648,"14,4","14,4275",False,0,"183161,4","156,2",17,"89,32","145,7375",...,"64,4",True,"66,2",1279,False,NaN,"2,330142",NaN,"14,4","1,45"
384770,392271,"4,4","14,355",False,0,"72497,09","181,4",10,"41,76","172,7375",...,86,True,95,1279,False,NaN,"4,553486",NaN,4,"1,74"
461898,471015,"20,4","14,355",False,0,"93168,62",176,36,"52,2","165,7063",...,"89,6",True,"93,2",1279,False,NaN,"4,835044",NaN,"20,4","2,03"
533850,545727,"2,8","14,2825",False,0,119005,185,0,"49,88","211,1",...,"114,8",True,"98,6",1279,False,NaN,"64,47697",NaN,"2,4","20,59"

#### Looks like we have several columns that need to be integers that have comma issues. We can address those and data types all at once.

In [35]:
to_float_columns = [
    "AcceleratorPedal", 
    "BarometricPressure",
    "CruiseControlSetSpeed",
    "DistanceLtd",
    "EngineCoolantTemperature",
    "EngineLoad",
    "EngineOilPressure",
    "EngineOilTemperature",
    "EngineRpm",
    "EngineTimeLtd",
    "FuelLevel",
    "FuelLtd",
    "FuelRate",
    "FuelTemperature",
    "IntakeManifoldTemperature",
    "ServiceDistance",
    "Speed",
    "SwitchedBatteryVoltage",
    "Throttle",
    "TurboBoostPressure"
]

for col in to_float_columns:
    diagnostic[col] = diagnostic[col].str.replace(',', '.')
    diagnostic[col] = diagnostic[col].astype("float64")

#### The remaining columns are booleans. We'll change those now

In [36]:
to_bool_columns = [
    'CruiseControlActive',
    'IgnStatus',
    'ParkingBrake'
]

for col in to_bool_columns:
    diagnostic[col] = diagnostic[col].astype('bool')

In [37]:
diagnostic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1187335 entries, 0 to 1187334
Data columns (total 25 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   FaultId                    1187335 non-null  int64
 1   AcceleratorPedal           531889 non-null   float64
 2   BarometricPressure         585976 non-null   float64
 3   CruiseControlActive        1187335 non-null  bool
 4   CruiseControlSetSpeed      576458 non-null   float64
 5   DistanceLtd                585819 non-null   float64
 6   EngineCoolantTemperature   586071 non-null   float64
 7   EngineLoad                 585621 non-null   float64
 8   EngineOilPressure          586244 non-null   float64
 9   EngineOilTemperature       583912 non-null   float64
 10  EngineRpm                  586921 non-null   float64
 11  EngineTimeLtd              581366 non-null   float64
 12  FuelLevel                  502795 non-null   float64
 13  FuelLtd                    585195 non-null   float64
 14  FuelRate                   585237 non-null   float64
 15  FuelTemperature            299110 non-null   float64
 16  IgnStatus                  1187335 non-null  bool
 17  IntakeManifoldTemperature  586291 non-null   float64
 18  LampStatus                 1187335 non-null  object
 19  ParkingBrake               1187335 non-null  bool
 20  ServiceDistance            215 non-null      float64
 21  Speed                      583916 non-null   float64
 22  SwitchedBatteryVoltage     114059 non-null   float64
 23  Throttle                   420503 non-null   float64
 24  TurboBoostPressure         583351 non-null   float64
dtypes: bool(3), float64(20), int64(1), object(1)
memory usage: 202.7+ MB

In [38]:
diagnostic.head()

Name,FaultId,AcceleratorPedal,BarometricPressure,CruiseControlActive,CruiseControlSetSpeed,DistanceLtd,EngineCoolantTemperature,EngineLoad,EngineOilPressure,EngineOilTemperature,...,FuelTemperature,IgnStatus,IntakeManifoldTemperature,LampStatus,ParkingBrake,ServiceDistance,Speed,SwitchedBatteryVoltage,Throttle,TurboBoostPressure
0,1,0.0,14.21,True,66.48672,423178.7,100.4,11.0,0.0,96.74375,...,NaN,True,78.8,1023,True,NaN,0.0,3276.75,NaN,0.0
1,2,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,True,NaN,1279,True,NaN,NaN,NaN,NaN,NaN
2,3,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,True,NaN,1279,True,NaN,NaN,NaN,NaN,NaN
3,4,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,True,NaN,1279,True,NaN,NaN,NaN,NaN,NaN
4,5,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,True,NaN,16639,True,NaN,NaN,NaN,NaN,NaN

## Joining Fault and Diagnostic data

In [39]:
faults.head()

,RecordID,ESS_Id,EventTimeStamp,eventDescription,ecuSoftwareVersion,ecuSerialNumber,ecuModel,ecuMake,ecuSource,spn,fmi,active,activeTransitionCount,EquipmentID,MCTNumber,Latitude,Longitude,LocationTimeStamp
0,1,990349,2015-02-21 10:47:13,Low (Severity Low) Engine Coolant Level,NaN,NaN,NaN,NaN,0,111,17,True,2,1439,105354361,38.857638,-84.626851,2015-02-21 11:34:25
1,2,990360,2015-02-21 11:34:34,NaN,NaN,NaN,NaN,NaN,11,629,12,True,127,1439,105354361,38.857638,-84.626851,2015-02-21 11:35:10
2,3,990364,2015-02-21 11:35:31,Incorrect Data Steering Wheel Angle,NaN,NaN,NaN,NaN,11,1807,2,False,127,1369,105336226,41.421250,-87.767361,2015-02-21 11:35:26
3,4,990370,2015-02-21 11:35:33,Incorrect Data Steering Wheel Angle,NaN,NaN,NaN,NaN,11,1807,2,True,127,1369,105336226,41.421018,-87.767361,2015-02-21 11:36:08
4,5,990416,2015-02-21 11:39:41,NaN,22281684P01*22357957P01*22362082P01*,13063430,0USA13_13_0415_2238A,VOLVO,0,4364,17,False,2,1674,105427130,38.416481,-89.442638,2015-02-21 11:39:37

In [40]:
diagnostic.head()

Name,FaultId,AcceleratorPedal,BarometricPressure,CruiseControlActive,CruiseControlSetSpeed,DistanceLtd,EngineCoolantTemperature,EngineLoad,EngineOilPressure,EngineOilTemperature,...,FuelTemperature,IgnStatus,IntakeManifoldTemperature,LampStatus,ParkingBrake,ServiceDistance,Speed,SwitchedBatteryVoltage,Throttle,TurboBoostPressure
0,1,0.0,14.21,True,66.48672,423178.7,100.4,11.0,0.0,96.74375,...,NaN,True,78.8,1023,True,NaN,0.0,3276.75,NaN,0.0
1,2,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,True,NaN,1279,True,NaN,NaN,NaN,NaN,NaN
2,3,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,True,NaN,1279,True,NaN,NaN,NaN,NaN,NaN
3,4,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,True,NaN,1279,True,NaN,NaN,NaN,NaN,NaN
4,5,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,True,NaN,16639,True,NaN,NaN,NaN,NaN,NaN

In [41]:
fault_diagnostic = faults.merge(diagnostic, left_on='RecordID', right_on='FaultId').drop('FaultId', axis=1)

In [42]:
fault_diagnostic.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1187335 entries, 0 to 1187334
Data columns (total 42 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   RecordID                   1187335 non-null  int64
 1   ESS_Id                     1187335 non-null  int64
 2   EventTimeStamp             1187335 non-null  datetime64[ns]
 3   eventDescription           1126490 non-null  object
 4   ecuSoftwareVersion         592736 non-null   object
 5   ecuSerialNumber            545769 non-null   object
 6   ecuModel                   824028 non-null   object
 7   ecuMake                    823273 non-null   object
 8   ecuSource                  1187335 non-null  int64
 9   spn                        1187335 non-null  int64
 10  fmi                        1187335 non-null  int64
 11  active                     1187335 non-null  bool
 12  activeTransitionCount      1187335 non-null  int64
 13  EquipmentID                1187335 non-null  object
 14  MCTNumber                  1187335 non-null  int64
 15  Latitude                   1187335 non-null  float64
 16  Longitude                  1187335 non-null  float64
 17  LocationTimeStamp          1187335 non-null  datetime64[ns]
 18  AcceleratorPedal           531889 non-null   float64
 19  BarometricPressure         585976 non-null   float64
 20  CruiseControlActive        1187335 non-null  bool
 21  CruiseControlSetSpeed      576458 non-null   float64
 22  DistanceLtd                585819 non-null   float64
 23  EngineCoolantTemperature   586071 non-null   float64
 24  EngineLoad                 585621 non-null   float64
 25  EngineOilPressure          586244 non-null   float64
 26  EngineOilTemperature       583912 non-null   float64
 27  EngineRpm                  586921 non-null   float64
 28  EngineTimeLtd              581366 non-null   float64
 29  FuelLevel                  502795 non-null   float64
 30  FuelLtd                    585195 non-null   float64
 31  FuelRate                   585237 non-null   float64
 32  FuelTemperature            299110 non-null   float64
 33  IgnStatus                  1187335 non-null  bool
 34  IntakeManifoldTemperature  586291 non-null   float64
 35  LampStatus                 1187335 non-null  object
 36  ParkingBrake               1187335 non-null  bool
 37  ServiceDistance            215 non-null      float64
 38  Speed                      583916 non-null   float64
 39  SwitchedBatteryVoltage     114059 non-null   float64
 40  Throttle                   420503 non-null   float64
 41  TurboBoostPressure         583351 non-null   float64
dtypes: bool(4), datetime64[ns](2), float64(22), int64(7), object(7)
memory usage: 357.8+ MB

## Dealing with Nulls

In [44]:
def input_fill(df):
    return df.sort_values(by='EventTimeStamp').fillna(method='ffill').fillna(method='bfill')

In [46]:
fault_diagnostic = fault_diagnostic.groupby('EquipmentID').apply(input_fill)

In [47]:
fault_diagnostic.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 1187335 entries, ('0105309016', 1008925) to ('R1764', 4999)
Data columns (total 42 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   RecordID                   1187335 non-null  int64
 1   ESS_Id                     1187335 non-null  int64
 2   EventTimeStamp             1187335 non-null  datetime64[ns]
 3   eventDescription           1187330 non-null  object
 4   ecuSoftwareVersion         1179010 non-null  object
 5   ecuSerialNumber            1179014 non-null  object
 6   ecuModel                   1179023 non-null  object
 7   ecuMake                    1179023 non-null  object
 8   ecuSource                  1187335 non-null  int64
 9   spn                        1187335 non-null  int64
 10  fmi                        1187335 non-null  int64
 11  active                     1187335 non-null  bool
 12  activeTransitionCount      1187335 non-null  int64
 13  EquipmentID                1187335 non-null  object
 14  MCTNumber                  1187335 non-null  int64
 15  Latitude                   1187335 non-null  float64
 16  Longitude                  1187335 non-null  float64
 17  LocationTimeStamp          1187335 non-null  datetime64[ns]
 18  AcceleratorPedal           1157187 non-null  float64
 19  BarometricPressure         1187303 non-null  float64
 20  CruiseControlActive        1187335 non-null  bool
 21  CruiseControlSetSpeed      1167810 non-null  float64
 22  DistanceLtd                1187295 non-null  float64
 23  EngineCoolantTemperature   1187303 non-null  float64
 24  EngineLoad                 1187303 non-null  float64
 25  EngineOilPressure          1187303 non-null  float64
 26  EngineOilTemperature       1187303 non-null  float64
 27  EngineRpm                  1187297 non-null  float64
 28  EngineTimeLtd              1178996 non-null  float64
 29  FuelLevel                  1152708 non-null  float64
 30  FuelLtd                    1187297 non-null  float64
 31  FuelRate                   1187303 non-null  float64
 32  FuelTemperature            813458 non-null   float64
 33  IgnStatus                  1187335 non-null  bool
 34  IntakeManifoldTemperature  1187303 non-null  float64
 35  LampStatus                 1187335 non-null  object
 36  ParkingBrake               1187335 non-null  bool
 37  ServiceDistance            437 non-null      float64
 38  Speed                      1187295 non-null  float64
 39  SwitchedBatteryVoltage     945865 non-null   float64
 40  Throttle                   883641 non-null   float64
 41  TurboBoostPressure         1187303 non-null  float64
dtypes: bool(4), datetime64[ns](2), float64(22), int64(7), object(7)
memory usage: 364.6+ MB